/**
 * I'm setting the locked and contenteditable styles separately
 * as a visual clue if things are getting out of sync.
 * if JS is behaving, the border and background should ALWAYS
 * toggle together.
 * Out of sync means a logic problem.
 */
.locked {
  display: block;
  background-color: pink;
  margin: 0.5em;
}
[contenteditable="false"] {
  border: 2px dotted #F66;
}
